/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light{
    --main-color: #fff;
    --accent-color: #000;
    --stripe-color: #d3d3d3;
    --first-gradient-color: #1a1a1a;
    --second-gradient-color: #e7e7e7;
    --background-gradient: 
    repeating-linear-gradient(to left,var(--stripe-color) 0,var(--stripe-color) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom,var(--stripe-color) 0,var(--stripe-color) 2px, transparent 2px, transparent 4px),
    linear-gradient(to top, var(--first-gradient-color) 0.01%, var(--second-gradient-color) 100%);
    --blend-mode-hover: normal;
    --blend-mode-item: difference;
    --main-heart-color: #FF0000;
    --dark-heart-color: #000;
    --light-heart-color: #fff;
    --button-item-color: var(--main-color);
    --text-font-width: 400;
    --title-font-width: 700;
}

:root.theme-dark{
    --main-color: #000;
    --accent-color: #00CC14;
    --stripe-color: #000;
    --first-gradient-color: #007f0c;
    --second-gradient-color: #004306;
    --background-gradient: repeating-linear-gradient(to left,var(--stripe-color) 0,var(--stripe-color) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom,var(--stripe-color) 0,var(--stripe-color) 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, var(--first-gradient-color), var(--second-gradient-color));
    --blend-mode-hover: exclusion;
    --blend-mode-item: normal;
    --main-heart-color: #FF0000;
    --dark-heart-color: #00CC14;
    --light-heart-color: #000;
    --button-item-color: var(--accent-color);
    --text-font-width: 465;
    --title-font-width: 785;
}

@media (prefers-color-scheme: light) {
    :root.theme-auto {
        --main-color: #fff;
        --accent-color: #000;
        --stripe-color: #d3d3d3;
        --first-gradient-color: #1a1a1a;
        --second-gradient-color: #e7e7e7;
        --background-gradient: 
        repeating-linear-gradient(to left,var(--stripe-color) 0,var(--stripe-color) 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom,var(--stripe-color) 0,var(--stripe-color) 2px, transparent 2px, transparent 4px),
        linear-gradient(to top, var(--first-gradient-color) 0.01%, var(--second-gradient-color) 100%);
        --blend-mode-hover: normal;
        --blend-mode-item: difference;
        --main-heart-color: #FF0000;
        --dark-heart-color: #000;
        --light-heart-color: #fff;
        --button-item-color: var(--main-color);
        --text-font-width: 400;
        --title-font-width: 700;
    }
}

@media (prefers-color-scheme: dark) {
    :root.theme-auto {
        --main-color: #000;
        --accent-color: #00CC14;
        --stripe-color: #000;
        --first-gradient-color: #007f0c;
        --second-gradient-color: #004306;
        --background-gradient: repeating-linear-gradient(to left,var(--stripe-color) 0,var(--stripe-color) 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom,var(--stripe-color) 0,var(--stripe-color) 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, var(--first-gradient-color), var(--second-gradient-color));
        --blend-mode-hover: exclusion;
        --blend-mode-item: normal;
        --main-heart-color: #FF0000;
        --dark-heart-color: #00CC14;
        --light-heart-color: #000;
        --button-item-color: var(--accent-color);
        --text-font-width: 465;
        --title-font-width: 785;
    }
}